<%= render partial: 'layouts/pretty_header', locals: {
  title: 'These are all your issues',
  text: 'eventually...'
} %>
<div class="text-center mb-4">
  <%= link_to "Create New Issue", new_user_issue_path(current_user), class: 'btn btn-info new-issue__button' %>
</div>

<div class="row equal-height">
  <%= render @issues %>
</div>
