<div class="container text-center">
  <h1>Friendly reminder that your rent is due</h1>
  <p>From <%= @lease_payment.unit.property.company.name %>. You are being reminded that your rent is due soon. Here are the details: </p>
  <div class="card">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-transparent">
          <strong class="pull-left"> Due Date: </strong>
          <span class="pull-right">
            <%= @lease_payment.formatted_due_date %>
          </span>
        </li>
        <li class="list-group-item bg-transparent">
          <strong class="pull-left">Amount Due:</strong>
          <span class="pull-right">
            <%= number_to_currency(@lease_payment.human_amount_due) %>
          </span>
        </li>
      </ul>
      <br>
      <%= link_to "Pay Rent Online!", authenticated_user_root_url, class: 'btn btn-primary btn-block' %>
    </div>
  </div>
</div>
