<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Payment Information',
  text: ''
} %>

<%= render partial: 'shared/payments/info', payment: @payment %>

<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Events',
  text: ''
} %>

<div class="card">
  <div class="card-body">
    <%= render 'shared/charge_events/table', collection: @charge_events %>
  </div>
</div>
