<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Update your stripe account',
  text: 'Update your payment information' }
%>

<div class="card">
  <div class="card-body">
    <div>
      <%= render 'identity_verification_form' %>
    </div>
  </div>
</div>
