<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Get Paid',
  text: 'Enter your banking information so tenants can pay you directly!' }
%>

<div class="container">
  <div class="card">
    <div class="card-body">
      <%= render 'account_form' %>
    </div>
  </div>
</div>
