<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light border border-top-0 border-right-0 border-left-0">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto w-100 justify-content-center">
      <% if current_property_manager %>
        <a class="navbar-brand" href="/"><%= current_property_manager.company.name %></a>
      <% else %>
        <a class="navbar-brand" href="/">LordCore</a>
      <% end %>
      <% if current_property_manager %>
        <%= render 'shared/navs/property_manager_nav' %>
      <% end %>
      <% if current_user %>
        <%= render 'shared/navs/user_nav' %>
      <% end %>
    </ul>
  </div>
</nav>

