<li class="nav-item">
  <%= link_to 'Home', page_path('property_manager_home'), class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Sign Out',
    destroy_property_manager_session_path,
    method: :delete,
    class: 'nav-link'%>
</li>

