<li class="nav-item">
  <%= link_to 'Home', page_path('property_manager_home'), class: 'nav-link' %>
</li>
<li class="nav-item">
  <% if current_property_manager.has_company? %>
    <%= link_to current_property_manager.company.name,
      edit_company_path(current_property_manager.company),
      class: 'nav-link'
    %>
  <% else %>
    <%= link_to "Create Organization!", new_company_path, class: 'nav-link' %>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to 'Sign Out',
    destroy_property_manager_session_path,
    method: :delete,
    class: 'nav-link'%>
</li>

