<div class="row equal-height">
  <% residencies.each do |residency| %>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4 text-center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <%= residency.user.name %>
          </h4>
          <ul class="text-left">
            <li>
              units:
              <%= residency.user.email %>
            </li>
          </ul>
        </div>
        <div class="card-footer bg-white">
          <%= link_to "Show", residency_path(residency), class: 'card-link text-uppercase' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
