<% residencies.each do |residency| %>
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <%= link_to property_unit_residency_path(property, unit, residency), class: 'card' do %>
      <%= render 'residencies/card', residency: residency %>
    <% end %>
  </div>
<% end %>
