<div class="card">
  <h1 class="card-header">Properties</h1>
  <div class="card-body">
    <%= render partial: 'properties/cards', locals: { properties: @properties } %>
    <%= link_to 'New Property', new_property_path, class: "btn btn-primary" %>
  </div>
</div>
