<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Create a New Property',
  text: 'So you want to add a new property? Great! Lets start with the basics.' }
%>

<div class="card new-property__form">
  <div class="card-body">
    <%= render 'form', property: @property %>
  </div>
</div>
