<nav aria-label="breadcrumb" class="sticky-top bg-white">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><%= link_to @company.name, authenticated_property_manager_root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Units</li>
  </ol>
</nav>

<div id="unit_table">
</div>

<%= javascript_pack_tag "unit_filter_table" %>
