<h1>Welcome to Lord Core!</h1>
<h2>Already have an account?</h2>
<ul>
  <li><%= link_to "Manager sign in", new_property_manager_session_path %></li>
  <li><%= link_to "User sign in", new_user_session_path %></li>
</ul>
<h2>Create an account</h2>
<ul>
  <li><%= link_to "Tenants", new_user_registration_path %></li>
  <li><%= link_to "Property Managers", new_property_manager_registration_path %></li>
</ul>
