<h1>SUP USER</h1>

<% if current_user.residencies.present? %>
  <ul>
    <h3>Your residence information</h3>
    <li>
      <%= current_user.properties.last.name %>
    </li>
    <li>
      <%= current_user.properties.last.address_line1 %>
    </li>
    <li>
      <%= current_user.units.last.name %>
    </li>
  </ul>
<% end %>

<% unless current_user.stripe_account_guid.present? %>
  <%= link_to "new plaid account", new_tenant_plaid_account_path %>
<% end %>
