<%= render partial: 'layouts/pretty_header', locals: {
  title: 'Payments',
  text: 'All the payments you\'ve made over time'
} %>

<div class="card">
  <div class="card-body">
    <%= render 'shared/payments/table', payments: @payments %>
  </div>
</div>
