<div class="card">
  <h2 class="card-header">
    Pay your rent you fuck
  </h2>
  <div class="card-body">
    <%= form_with(model: @payment, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :amount %>
        <%= f.text_field :amount, class: "form-control" %>
      </div>

      <%= f.submit class: 'btn btn-info' %>
    <% end %>
  </div>
</div>
