<ul class="list-group list-group-flush">
  <li class="list-group-item border-bottom-0 border-top-0 text-muted">
    <span class="pull-left">Email new notifications as they happen:</span>
    <span class="pull-right">
      <%= notification_subscription.email_new_notifications %>
    </span>
  </li>
</ul>
