$primary: #4281B2;
@import "bootstrap";

@include media-breakpoint-up(sm) {
  .card.property-events {
    height: 650px;
  }
}

@include media-breakpoint-up(md) {
  .card.property-events {
    height: 600px;
  }
}

@include media-breakpoint-up(lg) {
  .card.property-events {
    height: 500px;
  }
}

input.flatpickr-input {
  background-color: transparent !important;
}

// NOTE: This makes card decks responsive https://github.com/twbs/bootstrap/issues/20321
.row.equal-height {
  display: flex;
  flex-wrap: wrap;
}

// .card-img-top {
//   width: 100%;
//   height: 12vw;
//   object-fit: cover;
// }

.profile-image {
  position: relative;
  margin-top: -60px;
  z-index: 15;

  img {
    border: 5px solid rgba(255,255,255,0.5);
  }
}

.breadcrumb-nav.sticky-top {
  top: 3.5em;
}

.row.equal-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.card {
  flex: 1;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card.no-shadow {
  box-shadow: none;
  -webkit-box-shadow: none;
}

a.card {
  text-decoration: none;
  color: black;

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(xs) {
  h1.display-4 {
    font-size: 1.6rem;
  }
}

.datepicker {
  padding: 1.8em;
}

nav.nav-link.active {
  color: $primary !important;
  // border-bottom: 1px solid $primary;
}

.btn {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nav-link.a {
  color: $secondary;
}

a.text-uppercase {
  font-weight: bold;
}

html {
  min-height: 100%;
  font-family: 'Roboto Slab', serif !important;
}

a {
  .card {
    text-decoration: none !important;
  }
}

body {
  padding-top: 55px;
  font-size: 16px;
  font-family: 'Roboto Slab', serif !important;
  margin-bottom: 220px;
  background-color: #f5efe6;
}

p {
  font-family: 'Roboto', sans-serif !important;
}
