<%= render partial: 'layouts/pretty_header', locals: {
  title: "Expenses vs. Income for #{current_property_manager.company.name}",
  text: 'Filterable table of your expenses vs income for your company' }
%>

<div class="card">
  <div class="card-body">
    <div id="line_item_filter_table">
    </div>
  </div>
</div>

<%= javascript_pack_tag "line_item_filter_table" %>
