<h1>Welcome to the neighborhood.</h1>

<p>You have been invited to the <%= @unit.name %> in the property <%= @property.name %>.</p>

<p>Here is some move-in information</p>

<%= link_to "Accept invitation", new_user_invitation_acceptance_path(@user.invite_token) %>
