<h1>Welcome to the neighborhood.</h1>

<p>You have been invited to the <%= @unit.name %> in the property <%= @property.name %>.</p>

<p>Here is some move-in information</p>

<p>Here we will link you to create an account on LordCore</p>
