<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h3><%= pluralize(object.errors.count, "error") %> prohibited this from being saved:</h3>

    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
