<% flash.each do |key, value| %>
  <%# NOTE: stupid hack for bootstrap. refactor when you can %>
  <% klass = normalize_bootstrap_message_class(key) %>

  <div class="alert alert-<%= klass %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul class="list-unstyled">
      <% if value.is_a? String %>
        <li>
          <%= value %>
        </li>
      <% else %>
        <% value.each do |val| %>
          <li>
            <%= val %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
